streamlit
google-generativeai
gtts
gspread
oauth2client
# Librería CRÍTICA para el Dictado Real (Web Speech API bridge)
streamlit-speech-to-text 
# Librerías RAG/Vectorial
langchain-chroma
langchain-google-genai
langchain-core
